.main {
    background: rgb(143, 143, 143);
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    overflow: hidden;
    padding: 0;
}

.info {
    padding: 3%;
    background: #000;
    width: 100%;
}

.textcenter {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.social {
    background: black;
    padding: 3% 0;
}

#photocont {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgb(0, 0, 0)), url(images/homeLatte.jpg);
    background-size: cover;
    background-position: center;
}

#contLogo {
    position: relative;
    width: 100%;
    padding: 0 20% 0 17.6%;
    opacity: 0.15;
}

#subHeading {
    color: white;
    line-height: 50px;
}

#homeImage {
    width: 100%;
}