ul > li {
    font-size: 1.2rem;
    padding: 15px 0 10px 35px;
    list-style-type: none;
}

.main {
    background: rgb(143, 143, 143);
    position: relative;
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    overflow: hidden;
    padding: 0;
}

.textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu {
    background-image: url(images/Canabru\ Logo\ White\ Transparent.png);
    background-repeat: no-repeat;
    background-position: 47.25% 50%;
    background-color: black;
    width: 100%;
}

.menuTitle {
    padding: 3% 0;
}

#photocont {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgb(0, 0, 0)), url(images/Menu.jpg);
    background-size: cover;
    background-position: center;
}

#trademarks {
    border-right: solid #FFFFFF;
}

#divider {
    height: 2px;
    background-color: white;
    width: 700px;
    display: none;
    margin-top: 5%;
}

@media screen and (max-width: 1200px) {
    ul > li {
        padding: 15px 20px 10px 10px;
    }
}

@media screen and (max-width: 1080px) {
    ul > li {
        padding: 15px 25px 10px 5px;
    }
}

@media screen and (max-width: 991px) {
    #divider {
        display: block;
    }

    #trademarks {
        border-right: none;
    }
}

@media screen and (max-width: 768px) {
    #divider {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    #divider {
        width: 400px;
    }
}